@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .page-bg {
    @apply bg-gradient-to-br from-orange-50 via-white to-amber-50;
  }

  .dark .page-bg {
    @apply bg-gradient-to-br from-gray-900 via-gray-900 to-gray-800;
  }
}
